@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,900;1,200;1,300;1,400;1,600;1,800&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  background-image: url('../src/img/fondo3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}



.error404 {
  font-family: 'Rubik Dirt', cursive;
  font-size: 3rem;
  color: white;
  text-shadow: 5px 5px 8px #000;
  margin-top: 50px;
}



/* NAV-BAR */

.navbar {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 7px 20px;
  border-radius: 50px;
  transition: 400ms ease-in-out;
}

.navbar:hover {
  box-shadow: 0px 0px 20px #ffc107;
  background-color: #000000d2 !important;
}

.nav-link {
  position: relative;
  color: #6c757d !important;
  font-weight: 600;
}


.vasito {
  color: #6c757d;
  transition: 400ms ease-in-out;
}

.vasito:hover {
  color: #ffc107;
}

.nav-linka {
  background-color: #ffc107 !important;
  font-weight: 700;
  box-shadow: -2px 3px 5px #000 !important;
  transition: 400ms;
}

.nav-linka:hover {
  transform: scale(1.1);
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ffc107;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.nav-link:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.nav-item {
  padding: 0px 10px
}

.dropdown-item {
  text-shadow: 0px 0px 5px #000;
}

.dropdown-item:hover {
  background-color: #ffc107 !important;
  color: #000 !important;
  text-shadow: 1px 1px 1px;
}

.titulo {
  margin-top: 30px;
  font-family: 'Rubik Dirt', cursive;
  color: #ffc107;
  text-shadow: -3px 4px 3px #000;
  font-size: 4rem;
}

/* FESENTACION  */

.presentacion {
  font-family: 'Rubik Dirt', cursive;
  background-image: url('../src/img/portada.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.textoTitulo {
  font-size: 90px;
  color: #ffc107;
  text-align: center;
  text-shadow: -5px 5px 5px #212121;
}

.comillas {
  color: #ffc107;
  font-size: 20px;
}

.textoSubtitulo {
  font-size: 1rem;
  text-align: center;
  text-shadow: -5px 5px 5px #212121;
}


.textoBoton {
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 10px #ffc107;
  /* margin-left: 10px; */
  padding: 8px;
  background-color: #010007;
  color: #ffc107;
  transition: 400ms ease-in;
}

.textoBoton:hover {
  /* transform: scale(1.1); */
  background: #ffc107 !important;
  color: #010007;
  box-shadow: 0px 0px 10px #010007;


}

.iconoPresentacion {
  margin-top: 3px;
  text-shadow: -2px 2px 5px #212121;
  transition: 300ms;
}

.iconoPresentacion:hover {
  transform: scale(1.2);
  color: #ffc107 !important;
}


/* LOADING  */

.loading {
  font-family: 'Rubik Dirt', cursive;
  text-shadow: -4px 5px 6px #000;
  margin-top: 80px;
}

.balls {
  position: relative;
  width: 2em;
  height: 3em;
  border: 3px solid #d2dfe1;
  overflow: hidden;
  animation: spin 3s ease infinite;
}

.balls::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 2em;
  height: 3em;
  background-color: #ffc107;
  transform-origin: center bottom;
  transform: scaleY(1);
  animation: fill 3s linear infinite;
}

@keyframes spin {

  50%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fill {

  25%,
  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.btn{
  transition: 300ms;
}

.btn:hover{
  transform: scale(1.05);
}


/* CARDS  */

.card {
  border-radius: 45px 45px 45px 45px !important;
  -moz-border-radius: 45px 45px 45px 45px !important;
  -webkit-border-radius: 45px 45px 45px 45px !important;
  border: 5px solid #000000;
  box-shadow: -4px 3px 8px #ffc107, -4px 3px 3px #ffc107;
  font-family: 'Poppins', sans-serif;
  transition: 200ms;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: -1px 0px 3px #ffc107, 0px 0px 3px #ffc107;

}

.card-img-top {
  border-radius: 45px 45px 0px 0px;
  -moz-border-radius: 45px 45px 0px 0px;
  -webkit-border-radius: 45px 45px 0px 0px;
  background-color: #000000d2;
  transition: 400ms ease-in-out;
}


.card-body {
  border-radius: 0px 0px 45px 45px !important;
  -moz-border-radius: 0px 0px 45px 45px !important;
  -webkit-border-radius: 0px 0px 45px 45px !important;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}


.btn-info {
  z-index: 1;
  font-size: inherit;
  font-family: inherit;
  clip-path: circle(50% at 50% 50%);
  color: #ffc107;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #424242;
}

.btn-info:hover {
  cursor: pointer;
  background-color: #ffc107;
  color: #000 !important;
  animation: jelly 0.5s;
}

.btn-info:focus{
  background-color: #ffc107;
}

@keyframes jelly {

  0%,
  100% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

/* CART  */

.contenedorCart {
  font-family: 'Poppins', sans-serif;
  border-radius: 134px 50px 134px 50px;
  -moz-border-radius: 134px 50px 134px 50px;
  -webkit-border-radius: 134px 50px 134px 50px;
  box-shadow: -2px 3px 5px #ffc107, -2px 3px 5px #ffc107;
  background-color: #000000d2;
  /* background-color: red; */
}

.contenedorDetail {
  border-radius: 50px 135px 50px 135px;
  -moz-border-radius: 50px 135px 50px 135px;
  -webkit-border-radius: 50px 135px 50px 135px;
  box-shadow: -2px 3px 5px #ffc107, -2px 3px 5px #ffc107;
  background-color: #000000d2;
}

.carritoVacio {
  font-family: 'Rubik Dirt', cursive;
  font-size: 3rem;
  color: white;
  text-shadow: 5px 5px 8px #000;
  margin-top: 50px;

}

.contenedorVacio {
  border-radius: 134px 50px 134px 50px;
  -moz-border-radius: 134px 50px 134px 50px;
  -webkit-border-radius: 134px 50px 134px 50px;
  box-shadow: -2px 3px 5px #ffc107, -2px 3px 5px #ffc107;
  background-color: #000000d2;
}


.carritoVacioVolver {
  text-decoration: none;
  text-shadow: 5px 5px 8px #000;
  font-size: 3rem;
}

.btn-outline-warning {
  transition: 300ms ease;
}

.btn-outline-warning:hover {
  color: #000 !important;
}

.iva{
  font-size: 10px;
}

/* FOOTER  */

.footer {
  margin-top: auto !important;
  background-color: #000000d2;

}


/* ORDER  */

.orderTitle{
  color: rgb(216, 216, 216);
  font-family: 'Rubik Dirt', cursive;
  font-size: 50px;
  text-shadow: 2px 3px 5px #000;
}

.orderSubtitle{
  color: #dedede;
  text-shadow: 2px 3px 5px #000;

  font-family: 'Rubik Dirt', cursive;
  font-size: 38px;
}

.nOrder{
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  text-shadow: 2px 3px 5px #000;
  color: #fff;
}

.offcanvas {
  background-color: #ffc107d7;
  margin-top: 100px;
  height: 400px;
  border-radius: 200px 200px 0px 200px !important;
  -moz-border-radius: 200px 200px 0px 200px !important;
  -webkit-border-radius: 200px 200px 0px 200px !important;
  border: 2px solid #000000;
  box-shadow: -2px 3px 3px #000, -2px 3px 5px #ffc107;

}

.form-control{
  font-family: 'Poppins', sans-serif;
  width: auto;
  font-weight: 600;
}

#exampleFormControlInput1::-webkit-input-placeholder {
  color: #000;
}
#exampleFormControlInput2::-webkit-input-placeholder {
  color: #000;
}
#exampleFormControlInput3::-webkit-input-placeholder {
  color: #000;
}


.form-control:focus{
  box-shadow: 1px 1px 0px #000;
}



